---
layout: base.njk
title: My title
heading: "uncle crows cabinet of curiosities"
subheading: "epic stuff for creative devs"
---
<section>
    <header>
        <h2>Section Heading</h2>
        <p>Section Subheading</p>
        <mark>Highlighted text</mark>
        <s>strikethrough text</s>
    </header>
    <aside>
        <h3>Card heading</h3>
        <p>Card content*</p>
        <p><small>*with small content</small></p>
        <button>Learn More</button>
    </aside>
    <aside>
        <h3>Card heading</h3>
        <p>Card content <sup>with notification</sup></p>
        <button>Learn More</button>
    </aside>
    <aside>
        <h3>Card heading</h3>
        <p>Card content</p>
        <button>Learn More</button>
    </aside>
</section>
<hr>
<section>
    <blockquote>
        "Quote"
        <footer><i>- Attribution</i></footer>
    </blockquote>
</section>
