---
layout: false
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Name: {{ metadata.author.name }}
Contact: {{ metadata.author.email }}
Site: {{ metadata.url }}

/* SITE */
Standards: HTML5, CSS3
Components: Eleventy, Nunjucks, MVP.css
Software: Visual Studio Code
